
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tooltip1 {
        position: relative; /* making the .tooltip span a container for the tooltip text */
    }

        .tooltip1:before {
            content: attr(data-text); /* here's the magic */
            position: absolute;
            /* vertically center */
            top: 50%;
            transform: translateX(50%);
            /* move to right */
            right:50%;
            margin-top: 20px;
            /* basic styles */
            width: 200px;
            padding: 5px;
            font-size: 10px;
            line-height: 1em;
            font-family: Calibri;
            border-radius: 10px;
            background: #000;
            color: #fff;
            text-align: center;
            display: none; /* hide by default */
            opacity: 0;
            transition: .3s opacity;
            z-index: 9999;
        }
        .tooltip1:hover:before {
            display: block;
            opacity: 1;
        }
    .tooltip1--top {
        position: absolute;
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translate(-50%);
    }

        .tooltip1:after {
            content: "";
            position: absolute;
            /* position tooltip correctly */
            left: 0;
            margin-left: 0px;
            margin-top: 20px;
            /* vertically center */
            top: 50%;
            transform: translateY(-50%);
            /* the arrow */
           
        }

        .tooltip1:hover:before, .tooltip1:hover:after {
            display: block;
            opacity: 1;
        }
</style>
<div class="loader"></div>
<div class="section-body" id="pnlTemplates_Admin">
    <h2 class="section-title txt_Idioma_Administracion_de_templares">Administración de Templates A3</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row" id="frmTemplates">
                        
                        <div class="form-group col-lg-2">
                            <span data-text="Thanks for hovering! I'm a tooltip"
                                  class="tooltip1 top">Hover over me!</span>
                            <label for="txtTemplates_Folio" class="txt_Idioma_Folio">Folio</label>
                            <input type="text" class="form-control txt_Idioma_Ingrese_Folio" id="txtTemplates_Folio" placeholder="Ingrese un Folio">
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="slcTemplates_TipoA3" class="txt_Idioma_Tipo_de_A3">Tipo de A3</label>
                            <select class="form-control" id="slcTemplates_TipoA3">
                                <option value="-1" selected disabled>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="slcTemplates_Idioma" class="txt_Idioma_Idioma">Idioma</label>
                            <select class="form-control" id="slcTemplates_Idioma">
                                <option value="-1" selected disabled>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-1" style="margin-top:1.8rem">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="cbxTemplates_Activo" checked>
                                <label class="form-check-label txt_Idioma_Solo_ver_activos" for="cbxTemplates_Activo">Solo ver activos</label>
                            </div>
                            @*<div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cbxTemplates_Activo">
                <label class="custom-control-label txt_Idioma_Solo_ver_activos" for="cbxTemplates_Activo">Solo ver activos</label>
            </div>*@
                        </div>
                        <div class="form-group col-lg-4" style="margin-top:1.3rem">
                            <button type="button" class="btn btn-sm btn-icon btn-info btn-left txt_Idioma_Buscar tooltip1" data-text="Thanks for hovering! I'm a tooltip" id="btnTemplates_Buscar">
                                <i class="fa fa-search" aria-hidden="true"></i> Buscar
                            </button>
                            <button type="button" class="btn btn-sm btn-icon btn-outline-secondary btn-left txt_Idioma_Limpiar_filtros" id="btnTemplates_Limpiar"><i class="fa fa-eraser" aria-hidden="true"></i> Limpiar Filtros</button>
                            <button type="button" class="btn btn-sm btn-icon btn-success btn-left txt_Idioma_Agregar" id="btnTemplates_Agregar" data-toggle="modal" data-target="#mdlTemplates_Agregar">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="dimmer" id="tblTemplates">
                        <div class="dimmer-content">
                            <div class="table-responsive tabla-md encabezados-fixed">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width:15px;">#</th>
                                            <th scope="col" style="width:25px;" class="txt_Idioma_Folio">Folio</th>
                                            <th scope="col" class="txt_Idioma_Descripcion">Descripción</th>
                                            <th scope="col" class="txt_Idioma_Imagen">Imagen</th>
                                            <th scope="col" class="txt_Idioma_Tipo_de_A3">Tipo de A3</th>
                                            <th scope="col" class="txt_Idioma_Version">Version</th>
                                            <th scope="col" class="txt_Idioma_Idioma">Idioma</th>
                                            <th scope="col" class="txt_Idioma_Estatus">Estatus</th>
                                            <th scope="col" class="txt_Idioma_Opciones">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td colspan="100%"><p class="text-center txt_Idioma_No_Encontraron_Registros">No se encontraron registros</p></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <div id="pgdTemplates">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" data-paginado="Anterior"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                            <div class="btn-group">
                                <select class="form-control text-center" style="width:80px !important" data-paginado="Paginas">
                                    <option selected disabled value="-1">Página</option>
                                </select>

                            </div>
                            <button type="button" class="btn btn-info" data-paginado="Siguiente"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="mdlTemplates_Agregar" style="display: none;" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info" data-type="info">
                    <h4 class="modal-title txt_Idioma_Nuevo_Template">Agregar Nuevo Template</h4>
                </div>
                <div class="modal-body" id="frmTemplatesN">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="txtTemplatesN_Folio txt_Idioma_Folio">Folio:</label>
                            <input type="text" class="form-control txt_Idioma_Ingrese_Folio" id="txtTemplatesN_Folio" disabled placeholder="Ingrese un Folio">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="slcTemplatesN_TipoA3" class="txt_Idioma_Tipo_de_A3">TipoA3:</label>
                            <select class="form-control" id="slcTemplatesN_TipoA3">
                                <option selected disabled value="-1">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="slcTemplatesN_Idioma" class="txt_Idioma_Idioma">Idioma:</label>
                            <select class="form-control" id="slcTemplatesN_Idioma">
                                <option selected disabled value="-1">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="slcTemplatesN_Acceso" class="txt_Idioma_NivelAcceso">Acceso:</label>
                            <select class="form-control" id="slcTemplatesN_Acceso">
                                <option selected disabled value="-1">Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <label for="txtTemplatesN_Imagen" class="txt_Idioma_Imagen_Descriptiva">Imagen descriptiva:</label><br />
                            <input type="file" class="form-control form-control-sm" id="txtTemplatesN_Imagen" name="name" value="" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="txtTemplatesN_Descripcion" class="txt_Idioma_Descripcion">Descripción:</label>
                            <textarea class="form-control txt_Idioma_Ingrese_Descripcion" id="txtTemplatesN_Descripcion" placeholder="Ingrese una Descripción"></textarea>
                        </div>
                        <div class="col-md-2">
                            <label class="txt_Idioma_Estatus">Estatus:</label>
                            <div class="form-check form-switch" style="margin-top:0.6rem;">
                                <input class="form-check-input" type="checkbox" role="switch" id="cbxTemplatesN_Activo" checked>
                                <label class="form-check-label txt_Idioma_Activo" for="cbxTemplatesN_Activo">Desactivado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-danger txt_Idioma_Cancelar" tabindex="4" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success txt_Idioma_Guardar" tabindex="3" id="btnTemplatesN_Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="mdlTemplates_Traducir" style="display: none;" aria-hidden="true" data-backdrop="false" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info" data-type="info">
                    <h4 class="modal-title txt_Idioma_Traducir">Traducir</h4>
                </div>
                <div class="modal-body" id="frmTemplatesN_Traducir">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="txt_Idioma_Folio">Folio:</label>
                                <input type="text" readonly class="form-control" id="txtTemplatesN_Traducir_Folio" name="name" value="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="slcTemplatesN_Traducir_Idioma" class="txt_Idioma_Idioma">Idioma:</label>
                                <select class="form-control" id="slcTemplatesN_Traducir_Idioma">
                                    <option selected disabled value="-1">Seleccione</option>
                                </select>
                                <input type="text" style="display:none;" disabled id="txtTemplatesN_Traducir_ID" />
                                <input type="text" style="display:none;" disabled id="txtTemplatesN_Traducir_Descripcion" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label for="slcTemplatesN_Traducir_TipoA3" class="txt_Idioma_Tipo_de_A3">Idioma:</label>
                                <select class="form-control" disabled id="slcTemplatesN_Traducir_TipoA3">
                                    <option selected disabled value="-1">Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-danger txt_Idioma_Cancelar" tabindex="4" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success txt_Idioma_Guardar" tabindex="3" id="btnTemplatesN_Traducir_Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL TO ACCESS CONFIGURATION TEMPLATE-->
    <div class="modal fade" tabindex="-1" role="dialog" id="mdlTemplates_Access" style="display: none;" aria-hidden="true" data-backdrop="false" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-info" data-type="info">
                    <h4 class="modal-title txt_Idioma_Acceso">Traducir</h4>
                </div>
                <div class="modal-body" id="frmTemplatesN_Acceso">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label for="slcTemplatesN_Acceso" class="txt_Idioma_Acceso">Acceso:</label>
                                <select class="form-control" id="slcTemplatesN_Acceso">
                                    <option selected disabled value="-1">Seleccione</option>
                                </select>
                                <input type="text" style="display:none;" disabled id="txtTemplatesN_Acceso_ID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-danger txt_Idioma_Cancelar" tabindex="4" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success txt_Idioma_Guardar" tabindex="3" id="btnTemplatesN_Acceso_Guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="pnlTemplates_Ajustes">
    <div class="section-body">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">Edición de Template</h2>
            </div>
            <div class="col-md-6">
                <div class="d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-danger txt_Idioma_Regresar" id="btnTemplatesM_Regresar">Regresar</button>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="card card-primary">
                <div class="card-header">
                    <span style="font-size: 1rem; font-weight:bold; margin-top:-0.3rem" class="fa fa-angle-right"></span>
                    <h2 class="mb-0">
                        <button class="btn btn btn-block text-left card-title txt_Idioma_Administracion_Informacion_Template" style="font-size: 1rem; font-weight:bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Edición de Template A3
                        </button>
                    </h2>

                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="txtTemplatesM_Folio" class="txt_Idioma_Folio">Folio</label>
                                <input type="text" class="form-control" id="txtTemplatesM_Folio" disabled>
                                <input type="text" id="txtTemplatesM_ID" hidden disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="slcTemplatesM_TipoA3" class="txt_Idioma_Tipo_de_A3">Tipo de A3</label>
                                <select class="form-control" id="slcTemplatesM_TipoA3" disabled>
                                    <option value="-1" selected disabled>Seleccione</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="slcTemplatesM_TipoA3" class="txt_Idioma_Idioma">Idioma</label>
                                <select class="form-control" id="slcTemplatesM_Idioma">
                                    <option value="-1" selected disabled>Seleccione</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="slcTemplatesM_Acceso" class="txt_Idioma_NivelAcceso">Acceso:</label>
                                    <select class="form-control" id="slcTemplatesM_Acceso">
                                        <option selected disabled value="-1">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="txtTemplatesM_TemplateVersion" class="txt_Idioma_Version">Version</label>
                                    <input type="text" class="form-control" readonly id="txtTemplatesM_TemplateVersion" disabled>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="txt_Idioma_Estatus">Estatus:</label>
                                    <div class="form-check form-switch" style="margin-top:0.6rem;">
                                        <input class="form-check-input" type="checkbox" role="switch" id="cbxTemplatesM_Activo" checked>
                                        <label class="form-check-label txt_Idioma_Desactivado" for="cbxTemplatesM_Activo">Desactivado</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="txtTemplatesM_Descripcion" class="txt_Idioma_Descripcion">Descripción:</label>
                                <textarea style="height:150px !important; resize:none" class="form-control txt_Idioma_Ingrese_Descripcion" id="txtTemplatesM_Descripcion" placeholder="Ingrese una Descripción"></textarea>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="txtTemplatesM_Imagen" class="txt_Idioma_Imagen_Descriptiva">Imagen descriptiva:</label><br />
                                <input type="file" class="form-control form-control-sm" id="txtTemplatesM_Imagen" name="name" value="" />
                                <div class="text-center " style="margin-top:1rem">
                                    <img height="80" width="80" id="imgTemplatesM_Imagen" style="width:80px; height:80px;" class="custom-file mx-auto rounded-1" />
                                </div>
                                @*<div class="custom-file">
                                        <input type="file" class="custom-file-input" accept="image/*" id="txtTemplatesM_Imagen">
                                        <label class="custom-file-label txt_Idioma_Seleccione_una_imagen" for="txtTemplatesM_Imagen">Seleccione una Imagen</label>
                                    </div>*@
                            </div>
                        </div>
                        <div class=" d-md-flex justify-content-md-end">
                            <div class="form-group">
                                <button type="button" class="btn btn-icon btn-success btn-left txt_Idioma_Guardar" id="btnTemplatesM_Guardar">Guardar</button>
                                @*<button type="button" class="btn btn-icon btn-info btn-left txt_Idioma_editar_template" id="btnTemplatesM_Editar">Editar Template</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="card card-primary">
                <div class="card-header">
                    <span style="font-size: 1rem; font-weight:bold; margin-top:-0.3rem" class="fa fa-angle-right"></span>
                    <h2 class="mb-0">
                        <button class="btn btn btn-block text-left card-title" style="font-size: 1rem; font-weight:bold" id="btnTemplate_edition_cuadrant" type="button" data-toggle="collapse" data-target="#pnlTemplate_edition_cuadrant_collapse" aria-expanded="true" aria-controls="collapseOne">
                            Cuadrantes
                        </button>
                    </h2>
                    <input type="text" disabled readonly style="display:none" id="txtTemplate_edition_id" name="name" value="" />
                    <!--<div class="card-header-action" style="float:right !important; margin-right: 0  !important; margin-left: auto !important;">
                     <a href="#" id="btnTemplate_edition_add_cuadrant" class="btn btn-primary"><span class="fa fa-plus"></span> Agregar / Omitir Cuadrante</a>
                    </div>-->
                </div>
                <div id="pnlTemplate_edition_cuadrant_collapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row" id="pnlTemplate_edition_cuadrantes">

                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div></div>

<div id="pnlTemplate_edition_section">
    <div class="section-body">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">Edición de Template</h2>
            </div>
            <div class="col-md-6">
                <div class="d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-danger txt_Idioma_Regresar" id="btnTemplates_edition_section_Regresar">Regresar</button>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="card card-primary">
                <div class="card-header">
                    <span style="font-size: 1rem; font-weight:bold; margin-top:-0.3rem" class="fa fa-angle-right"></span>
                    <h2 class="mb-0">
                        <button class="btn btn btn-block text-left card-title" style="font-size: 1rem; font-weight:bold" type="button" data-toggle="collapse" data-target="#pnlTemplate_edition_section_collapse" aria-expanded="true" aria-controls="collapseOne">
                            Edición de sección
                        </button>
                    </h2>
                    <div class="card-header-action" style="float:right !important; margin-right: 0  !important; margin-left: auto !important;">
                        <a href="#" id="btnTemplate_edition_add_section" class="btn btn-primary"><span class="fa fa-plus"></span> Agregar Sección</a>
                    </div>
                </div>
                <div id="pnlTemplate_edition_section_collapse" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <input type="text" id="txtTemplate_edition_section_id_cuadrante" style="display:none" disabled readonly name="name" value="" />
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" id="divTemplate_edition_section_loader" style="font-size:32px; height:300px; width:300px;">
                                </div>
                            </div>
                            <div id="ItemTemplate_edition_section">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="mdlSecciones_Modificar" style="display: none;" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-info" data-type="warning">
                <h4 class="modal-title txt_Idioma_Modificar_Seccion">Modificando Sección</h4>
            </div>
            <div class="modal-body" id="frmSeccionesM">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="txtSeccionesM_Nombre" class="txt_Idioma_Seccion">Nombre:</label>
                        <input type="text" class="form-control txt_Idioma_Ingrese_Nombre_seccion" id="txtSeccionesM_Nombre" placeholder="Ingrese el Nombre de la Seccion">
                        <input type="text" id="txtSeccionesM_ID" hidden disabled>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="slcSeccionesM_Cuadrante" class="txt_Idioma_Cuadrante">Cuadrante</label>
                        <select class="form-control" id="slcSeccionesM_Cuadrante">
                            <option value="-1" selected disabled>Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <Label for="txtSeccionesM_Descripcion" class="txt_Idioma_Descripcion">Descripción:</Label>
                        <textarea id="txtSeccionesM_Descripcion" placeholder="Ingrese la Descripción de la Sección" style="resize:none;height:200px !important;" class="form-control txt_Idioma_Ingrese_Descripcion"></textarea>
                    </div>
                    @*<div class="form-group col-lg-6">
                        <label class="txt_Idioma_Estatus">Estatus:</label>
                        <div class="form-check">
                            <label class="switch">
                                <input type="checkbox" for="cbxSeccionesM_Activo" id="cbxSeccionesM_Activo">
                                <span class="slider"></span>
                            </label>
                            <label class="txt_Idioma_Desactivado" for="cbxSeccionesM_Activo">Desactivado</label>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-danger txt_Idioma_Cancelar" tabindex="4" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success txt_Idioma_Guardar" tabindex="3" id="btnSeccionesM_Guardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="mdlSecciones_Agregar" style="display: none;" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-info" data-type="info">
                <h4 class="modal-title txt_Idioma_Agregar_Seccion">Agregar Nueva Seccion</h4>
            </div>
            <div class="modal-body" id="frmSeccionesN">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="txtSeccionesN_Nombre" class="txt_Idioma_Seccion">Nombre:</label>
                        <input type="text" class="form-control txt_Idioma_Ingrese_Nombre_seccion" id="txtSeccionesN_Nombre" placeholder="Ingrese el Nombre de la Seccion">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="slcSeccionesN_Cuadrante" class="txt_Idioma_Cuadrante">Cuadrante</label>
                        <select class="form-control readonly" disabled id="slcSeccionesN_Cuadrante">
                            <option value="-1" selected disabled>Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <Label for="txtSeccionesN_Descripcion" class="txt_Idioma_Descripcion">Descripción:</Label>
                        <textarea id="txtSeccionesN_Descripcion" placeholder="Ingrese la Descripción de la Sección" class="form-control txt_Idioma_Ingrese_Descripcion"></textarea>
                    </div>
                    @*<div class="form-group col-lg-6">
                        <label class="txt_Idioma_Estatus">Estatus:</label>
                        <div class="form-check form-switch" style="margin-top:0.6rem;">
                            <input class="form-check-input" type="checkbox" role="switch" id="cbxSeccionesN_Activo" checked="checked">
                            <label class="form-check-label txt_Idioma_Desactivado" for="cbxSeccionesN_Activo">Desactivado</label>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-danger txt_Idioma_Cancelar" tabindex="4" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success txt_Idioma_Guardar" tabindex="3" id="btnSeccionesN_Guardar">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlTemplate_edition_add_cuadrant" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir / omitir Cuadrante</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cbxTemplate_edition_add_CuadrantA">
                            <label class="custom-control-label" for="cbxTemplate_edition_add_CuadrantA">Cuadrante A</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cbxTemplate_edition_add_CuadrantB">
                            <label class="custom-control-label" for="cbxTemplate_edition_add_CuadrantB">Cuadrante B</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cbxTemplate_edition_add_CuadrantC">
                            <label class="custom-control-label" for="cbxTemplate_edition_add_CuadrantC">Cuadrante C</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cbxTemplate_edition_add_CuadrantD">
                            <label class="custom-control-label" for="cbxTemplate_edition_add_CuadrantD">Cuadrante D</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-lg-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title txt_Idioma_Cuadrantes">Cuadrantes</h4>
                </div>
                <div class="card-body">
                    <div class="row" id="frmCuadrantesM">
                        <div class="form-group col-lg-12">
                            <div class="form-group">
                                <label for="slcSecciones_Cuadrante" class="txt_Idioma_Cuadrante">Cuadrante</label>
                                <select class="form-control" id="slcCuadrantes_Cuadrante">
                                    <option value="-1" selected disabled>Seleccione</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtCuadrantesM_Descripcion" class="txt_Idioma_descripcion_de_cuadrante">Descripción de Cuadrante</label>
                                <textarea  style="width:100%; height:125px !important; resize:none" id="txtCuadrantesM_Descripcion" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-icon btn-success txt_Idioma_Guardar" id="btnCuadrantesM_Guardar">Guardar</button>
                    </div>
                </div>
            </div>
        </div>-->
            </div>
<!-- <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title txt_Idioma_Secciones">Secciones</h4>
                </div>
                <div class="card-body">
                    <div class="row" id="frmSecciones">
                        <div class="form-group col-lg-3">
                            <label for="slcSecciones_Cuadrante" class="txt_Idioma_Cuadrante">Cuadrante</label>
                            <select class="form-control" id="slcSecciones_Cuadrante">
                                <option value="-1" selected disabled>Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2" style="margin-top:30px">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="cbxSecciones_Activo">
                                <label class="custom-control-label txt_Idioma_Solo_ver_activos" for="cbxSecciones_Activo">Solo ver activos</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-7 text-right" style="margin-top:30px">
                            <button type="button" class="btn btn-icon btn-info btn-left txt_Idioma_Buscar" id="btnSecciones_Buscar"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                            <button type="button" class="btn btn-icon btn-outline-secondary btn-left txt_Idioma_Limpiar_filtros" id="btnSecciones_Limpiar"><i class="fa fa-eraser" aria-hidden="true"></i> Limpiar Filtros</button>
                            <button type="button" class="btn btn-icon btn-success btn-left txt_Idioma_Agregar" id="btnSecciones_Agregar" data-toggle="modal" data-target="#mdlSecciones_Agregar">
                                <i class="fa fa-plus" aria-hidden="true"></i> Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dimmer col-lg-12" id="tblSecciones">
                            <div class="dimmer-content">
                                <div class="table-responsive tabla-md encabezados-fixed">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:15px;">#</th>
                                                <th scope="col" class="txt_Idioma_Seccion">Nombre</th>
                                                <th scope="col" class="txt_Idioma_Cuadrante">Cuadrante</th>
                                                <th scope="col" class="txt_Idioma_Estatus">Estatus</th>
                                                <th scope="col" class="txt_Idioma_Opciones" colspan="2">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td colspan="100%"><p class="text-center txt_Idioma_No_Encontraron_Registros">No se encontraron registros</p></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="pgdSecciones">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info" data-paginado="Anterior"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                                <div class="btn-group">
                                    <select class="form-control text-center" style="width:80px !important" data-paginado="Paginas">
                                        <option selected disabled value="-1">Página</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-info" data-paginado="Siguiente"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>-->
<!-- MODAL TO ACCESS CONFIGURATION TEMPLATE-->
<script>
    require(['Template']);
    require(['EditTemplate']);
</script>
