body {
    font-size: 12px !important;
    font-family: Arial !important;
}

/*input {
    height: 2rem !important;
}*/

.form-check-input{

}

.validate-div {
    border:solid;
    border-color: red;
}

.text-right {
    margin-left:auto !important; 
    margin-right: 0 !important;
}
.form-control {
    font-size: 14px !important;
    font-family: Arial;
}

.table {
    font-size:12px !important;
    font-family: Arial;
}

.table tbody td {
    height: 2rem !important;
}

    .table thead th {
        height: 2rem !important;
        position: sticky;
        top: 0;
        z-index: 1 !important;
        box-shadow: 0px 1px 0px 0px #000;
        background-color: #E3EAEF !important;
    }

.badge {
    font-family: Arial !important;
    font-size: 10px !important
}

tbody tr.selected {
    background-color: lightgray !important;
}

td {
    padding: 5px;
}

.table-widget .table-row.selected, .table-widget .table-row:hover * {
    background-color: deepskyblue !important;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    margin-right: 20px;
    transition: .5s;
}

    input[type=file]::file-selector-button:hover {
        background-color: #eee;
        border: 0px;
        border-right: 1px solid #e5e5e5;
    }